.reset-card {
  max-width: 400px;
  border-radius: 1rem;
}

h3 {
  font-weight: bold;
  color: #004f83; 
}

button {
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .reset-card {
    padding: 2rem 1rem;
    margin: 0 1rem;
  }
}
