<div class="perfil-container">
  <h2 class="perfil-titulo">Mi Perfil</h2>

  <form #perfilForm="ngForm" (ngSubmit)="guardarCambios(perfilForm)" novalidate>
    <div class="perfil-card">
      <div class="perfil-row">
        <label>Tipo de Cuenta:</label>
        <span>{{ perfil.tipo }}</span>
      </div>

      <div class="perfil-row">
        <label>Nombre:</label>
        <input *ngIf="modoEdicion" [(ngModel)]="perfilEditado.nombre" name="nombre" type="text" required />
        <span *ngIf="!modoEdicion">{{ perfil.nombre }}</span>
      </div>
      <div *ngIf="perfilForm.submitted && !perfilEditado.nombre" class="error-msg">El nombre es obligatorio.</div>

      <div class="perfil-row">
        <label>Apellido:</label>
        <input *ngIf="modoEdicion" [(ngModel)]="perfilEditado.apellido" name="apellido" type="text" required />
        <span *ngIf="!modoEdicion">{{ perfil.apellido }}</span>
      </div>
      <div *ngIf="perfilForm.submitted && !perfilEditado.apellido" class="error-msg">El apellido es obligatorio.</div>

      <div class="perfil-row">
        <label>N° Documento:</label>
        <input [disabled]="true" [(ngModel)]="perfilEditado.numDocumento" name="numDocumento" type="text" />
      </div>

      <div class="perfil-row">
        <label>Correo Electrónico:</label>
        <input
          *ngIf="modoEdicion"
          [(ngModel)]="perfilEditado.correo"
          name="correo"
          type="email"
          required
          pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"
          (input)="validarCorreo($event)"
        />
        <span *ngIf="!modoEdicion">{{ perfil.correo }}</span>
      </div>
      <div *ngIf="perfilForm.submitted && !perfilEditado.correo" class="error-msg">El correo es obligatorio.</div>
      <div *ngIf="correoInvalido" class="error-msg">Correo inválido o con más de un &#64;.</div>


      <div class="perfil-row">
        <label>Teléfono:</label>
        <input
          *ngIf="modoEdicion"
          [(ngModel)]="perfilEditado.telefono"
          name="telefono"
          type="text"
          required
          maxlength="9"
          pattern="^[0-9]+$"
          (keypress)="soloNumeros($event)"
        />
        <span *ngIf="!modoEdicion">{{ perfil.telefono }}</span>
      </div>
      <div *ngIf="perfilForm.submitted && !perfilEditado.telefono" class="error-msg">El teléfono es obligatorio.</div>

      <div class="perfil-acciones">
        <button *ngIf="!modoEdicion" (click)="habilitarEdicion()" class="btn-editar" type="button">Editar</button>
        <div *ngIf="modoEdicion">
          <button class="btn-guardar" type="submit">Guardar</button>
          <button (click)="cancelarEdicion()" class="btn-cancelar" type="button">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>
