h1 {
  font-weight: bold;
  color: #004f83;
}

.card {
  border-radius: 16px;
}

.table th, .table td {
  vertical-align: middle;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-muted {
  font-size: 0.95rem;
  color: #6c757d;
}



@media (max-width: 768px) {
  .card-header input {
    width: 100% !important;
    margin-top: 8px;
  }
}
